.bento{
    padding: 0 6em;
}

.offer-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 30px; /* space between grid items */
    margin-top: 40px;
}

.offer-box {
    border: 1px solid #f0f0f0;
    border-radius: 20px;
    padding-bottom: 0;
}

.offer-visuals {
    background: #f5f5f5;
    height: 250px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 0;
    padding-top: 60px;
    overflow: hidden;
}
.offer-text{
    padding: 25px;
}

.offer-text p{
    font-size: 20px;
    font-family: 'Neue-Regular'; 
    margin-bottom: 5px;
}

.offer-text span{
    color: #7C7C7C;
    font-family: 'Neue-Regular';
    line-height: 24px;
    margin-bottom: 0;
}

.seamless-sche{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    margin: 0 auto;
    width: 65%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    font-size: 0.75rem;
    font-family: 'Neue-Regular';
}

.delete{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete img{
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.label{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 5%;
    border-radius: 6px;
}

.label img{
    width: 14px;
    height: 14px;
    object-fit: cover;   
}

.laps{
    display: flex;
    gap: 3%;
    justify-content: space-between;
}

.lap-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
}

.lap-box p{
    color: #aaa;
}

.lap-box img{
    width: 14px;
    height: 14px;
    object-fit: cover;  
}

.time-zone{
  width: 80%;
  margin: 0 auto;
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 0;
  font-family: 'Neue-Regular';
}

.zone-box{
    display: flex;
    gap: 10px;
}

.globe{
  width: 30px;
  height: 30px;
  background: #f5f5f5;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe img{
    width: 15px;
    height: 15px;
    object-fit: cover;
}

.zone{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 20px;
    border-radius: 14px;
}

.zone-text span{
    font-size: 0.6rem;  
    color: #aaa;
}

.utc{
    text-align: right;
}

.utc span{
    font-size: 0.6rem;  
    color: #aaa; 
}

.custom{
    width: 85%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    font-family: 'Neue-Regular';
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-mode button{
    display: flex;
    justify-content: space-between;
    font-family: 'Neue-Regular';
    font-size: 0.8rem;
    gap: 10px;
    background: transparent;
    border: 1px solid #f0f0f0;
    padding: 8px 10px;
    border-radius: 6px;
}

.custom-mode button img{
    width: 14px;
    height: 14px;
    object-fit: cover;   
}

.custom-date{
    display: flex;
    justify-content: space-between;
}

.custom-date button{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 0.6rem;
    font-family: 'Neue-Regular';
    border-radius: 8px;
}

.active-date{
    background: #000119;
    color: #fff;
    border-radius: 8px;
}

.inactive{
    background: #f5f5f5;
}


.smart{
    display: flex;
    gap: 10px;   
    font-size: 0.75rem;
    background: rgb(253, 241, 241);
    padding: 12px 20px;
    border-radius: 12px;
}

.smart img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.smart-text p{
    color: rgb(250, 83, 83);
    font-family: 'Neue-Bold';
    margin-bottom: 3px;
    font-size: 0.7rem;
}

.smart-text span{
    font-size: 0.65rem;
    color: rgb(253, 117, 117);
    font-family: 'Neue-Regular';
}

.sugg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sugg-long{
    width: 90%;
    height: 6px;
    border-radius: 60px;
    background: #f5f5f5;
}

.sugg-short{
    width: 60%;
    height: 6px;
    border-radius: 60px;
    background: #f5f5f5; 
}

.smart-actions{
    display: flex;
    justify-content: space-between;
}

.smart-actions button{
    font-family: 'Neue-Regular';
    padding: 8px 14px;
    background: transparent;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    font-size: 0.6rem;
}

.event-template{
    width: 80%;
    margin: 0 auto;
}

.event-template img{
    width: 100%;
}
  
  

.color-scheme{
   background: #fff;
   padding: 25px;
   padding-top: 30px;
   width: 75%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   gap: 50px;
   border-radius: 20px;
}

.color-box{
    display: flex;
    gap: 10px;
}

.palette{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#green{
    background: rgb(98, 161, 98);
}

#pink{
  background: rgb(214, 39, 97);
}

#blue{
  background: rgb(80, 80, 221);
}

.span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.long-span{
    width: 160px;
    height: 6px;
    border-radius: 60px;
    background: #f5f5f5;
}

.short-span{
    width: 50%;
    height: 6px;
    border-radius: 60px;
    background: #f5f5f5;
}


@media screen and (max-width: 900px){
    .bento{
        padding: 0 1.5em;
    }

    .offer-con {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 40px;
       
    }

    .offer-text p{
        font-size: 18px; 
        margin-bottom: 5px;
    }
    
    .offer-text span{
        color: #7C7C7C;
        font-family: 'Neue-Regular';
        line-height: 24px;
        margin-bottom: 0;
    }
    
    .seamless-sche{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        margin: 0 auto;
        width: 75%;
        padding: 20px;
        border-radius: 20px 20px 0 0;
        font-size: 0.75rem;
    }

    .time-zone{
        width: 90%;
        margin: 0 auto;
        font-size: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 0;
        font-family: 'Neue-Regular';
      }

      .custom-mode p{
        font-size: 0.8rem;
    }

      .custom-date button{
        border: none;
        outline: none;
        padding: 8px;
        font-size: 0.5rem;
        font-family: 'Neue-Regular';
        border-radius: 8px;
    }

    .color-scheme{
        background: #fff;
        padding: 20px;
        padding-top: 30px;
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-radius: 20px;
     }
}


