.footer{
    margin-top: 80px;
    padding: 0 6em;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}


.footer-logo img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 15px;
}

.footer-logo p{
    color: #000119;
    font-family: 'Neue-Medium';
}

.footer-con{
    padding: 0;
    display: flex;
    gap: 60px;
    
}

.footer-text{
    max-width: 300px;
}

.footer-text span{
    font-family: 'Neue-Regular';
    color: #7c7c7c;
    line-height: 24px;
}


.footer-con div span{
    color: #7c7c7c;
}

.footer-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-link p{
    font-family: 'Neue-Medium';
    margin-bottom: 5px;
}

.footer-link span{
    font-family: 'Neue-Regular';
    color: #7c7c7c;
}

.sub-footer{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 25px 0;
    color: #7c7c7c;
    font-family: 'Neue-Regular';
}

.terms{
    display: flex;  
    gap: 10px;
}

@media screen and (max-width: 900px){
    .footer{
        margin-top: 60px;
        padding: 0 1.5em;
    }

    .footer-con{
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
    }
    
    .footer-text{
        width: 100%;
    }
    
    .footer-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }

    .sub-footer{
        flex-direction: column-reverse;
        gap: 20px;
    }
    
}